@import "reset.css";

body {
    font-family: 'Titillium Web', sans-serif;
}
.wrapper {
    max-width: 1140px;
    width: calc(100%-40px) ;
    margin: 0 auto;
}
.top_line {
    display: flex;
    align-items: center;
    min-height: 240px;
}
header {
    background: url("фон.png") no-repeat center top / cover;
}
.header_nav {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 350;
}
.header_nav a {
    text-decoration: none;
    color: inherit;
}
.header_nav ul {
    display: flex;

}
.header_nav ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
    
}
.header_nav ul li:hover {
    background: rgba( 85, 26, 139) ;
    border-radius: 6px;
    transition: background 300ms ease-in-out;
}
.bottom_line {
    text-align: center;
    padding-top: 86px;
    padding-bottom: 143px;
}
.bottom_line p {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}
section.services {
    background: #000000;
    padding: 120px 0;
    text-align: center;
}
section.services h2{
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}
section.services h2:after{
    content: "";
    display: block;
    width: 86px;
    height: 4px;
    background: rgba(0,0 ,0,0.15);
    position: absolute;
    left: 50%;
    margin-left: -43%;
    bottom: 0;
}
section.services .services_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.services .description{
    font-size: 25px;
    line-height: 34px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
.img{
    width: 100%;
    height: auto;
}
section.services .services_list .services_item .img{
    margin-bottom: 50px;
    transition: 1s;

}
section.services .services_list .services_item .img:hover{
    transform: scale(1.1);
}

section{
    background: #000000;
    padding: 120 0;
    text-align: center;
}
section.contact .description{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.contact .contact_form{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 856px;
    margin: 0 auto;
}
section.contact .contact_form input[type="text"],section.contact .contact_form input[type="email"]{
    width: 48%;
    margin-bottom: 25px;
    background: #3e3f3e;
    color: #ffffff;
    border: 0;
    padding-left: 23px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    border-radius: 6px;
    box-sizing: border-box;
}

section .contact_form textarea{
    width: 100%;
    margin-bottom: 60px;
    background: #3e3f3e;
    color: #ffffff;
    border: 0;
    padding-left: 23px;
    height: 200px;
    line-height: 56px;
    font-size: 18px;
    border-radius: 6px;
    box-sizing: border-box;
}
section .contact_form .submit {
    width: 100%;
    text-align: center;
}
section .contact_form input[type="submit"] {
    border: 0;
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    background:rgba( 85, 26, 139) ;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 4px solid rgba( 85, 26, 139) ;
    transition: background 300ms ease-in-out;
}
section .contact_form input[type="submit"]:hover {
    background: #4e1b63;
    transition: background 300ms ease-in-out;
}
footer.footer {
    background: #3e3f3e;
}
.footer_social {
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 600;
    color: #ffffff;

}
.footer_social ul {
    min-height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer.footer a {
    text-decoration: none;
    color: inherit;
}
footer.footer a:hover {
    color: rgba( 85, 26, 139) ;
}
a.idTop {
    position: fixed; /* */
    z-index: 9999;
    bottom: 0%;
    right: 0%;
    background: #72786e;
    opacity: .6;
    color: #ffffff;
    padding: 5px;
    margin: 5px 10px 10px 5px;
}
a.idTop:hover {
    opacity: 1;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.wrapper2 {
    max-width: 1140px;
    width: calc(100%-40px) ;
    margin: 0 auto;
}
.top_line2 {
    display: flex;
    align-items: center;
    min-height: 160px;
}
header.header_logo2 {
    background:#f1a8a8;
}
.header_nav2 {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}
.header_nav2 a {
    text-decoration: none;
    color: inherit;
}
.header_nav2 ul {
    display: flex;

}
.header_nav2 ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
    
}
.header_nav2 ul li:hover {
    background: rgba( 85, 26, 139) ;
    border-radius: 6px;
    transition: background 300ms ease-in-out;
}
section.services2 {
    background: #000000;
    padding: 50px 0;
    text-align: center;
}
section.services2 h1{
    font-size: 30px;
    line-height: 1;
    color: #ce4646;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
section.services2 .description2{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.services2 .services2_list .services2_item h2{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services2 .services2_list .services2_item h3{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
.img{
    width: 100%;
    height: auto;
}
section.services2 .services2_list .services2_item .img{
    margin-bottom: 50px;
    transition: 1s;

}
section.services2 .services2_list .services2_item .img:hover{
    transform: scale(1.1);
}
section.services2 .item_description2{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    padding-left: 30px;
    padding-right:30px ;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services2 .services2_list .services2_item h4{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services2 .services2_item ul li{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 10px;
}
section.services2 .services2_item ul {
    column-count: 4;
    margin-bottom: 35px;
}
a.idTop {
    position: fixed; /* */
    z-index: 9999;
    bottom: 0%;
    right: 0%;
    background: #72786e;
    opacity: .6;
    color: #ffffff;
    padding: 5px;
    margin: 5px 10px 10px 5px;
}
a.idTop:hover {
    opacity: 1;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.wrapper3 {
    max-width: 1140px;
    width: calc(100%-40px) ;
    margin: 0 auto;
}
.top_line3 {
    display: flex;
    align-items: center;
    min-height: 160px;
}
header.header_logo3 {
    background:#f1a8a8;
}
.header_nav3 {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}
.header_nav3 a {
    text-decoration: none;
    color: inherit;
}
.header_nav3 ul {
    display: flex;

}
.header_nav3 ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
    
}
.header_nav3 ul li:hover {
    background: rgba( 85, 26, 139) ;
    border-radius: 6px;
    transition: background 300ms ease-in-out;
}
section.services3 {
    background: #000000;
    padding: 50px 0;
    text-align: center;
}
section.services3 h1{
    font-size: 30px;
    line-height: 1;
    color: #ce4646;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
section.services3 .description3{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.services3 .services3_list .services3_item h2{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services3 .item_description3{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    padding-left: 30px;
    padding-right:30px ;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services3 .services3_list .services3_item h3{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services3 .services3_list .services3_item h4{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services3 .services3_list .services3_item h5{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services3 .services3_list .services3_item h6{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
a.idTop {
    position: fixed; /* */
    z-index: 9999;
    bottom: 0%;
    right: 0%;
    background: #72786e;
    opacity: .6;
    color: #ffffff;
    padding: 5px;
    margin: 5px 10px 10px 5px;
}
a.idTop:hover {
    opacity: 1;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.wrapper4 {
    max-width: 1140px;
    width: calc(100%-40px) ;
    margin: 0 auto;
}
.top_line4 {
    display: flex;
    align-items: center;
    min-height: 160px;
}
header.header_logo4 {
    background:#f1a8a8;
}
.header_nav4 {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}
.header_nav4 a {
    text-decoration: none;
    color: inherit;
}
.header_nav4 ul {
    display: flex;

}
.header_nav4 ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
    
}
.header_nav4 ul li:hover {
    background: rgba( 85, 26, 139) ;
    border-radius: 6px;
    transition: background 300ms ease-in-out;
}
section.services4 {
    background: #000000;
    padding: 50px 0;
    text-align: center;
}
section.services4 h1 {
    font-size: 30px;
    line-height: 1;
    color: #ce4646;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
section.services4 .description4 {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.services4 .services4_list .services4_item h2 {
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services4 .services4_list .services4_item h3 {
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services4 .services4_list .services4_item .img {
    margin-bottom: 50px;
    transition: 1s;
}
section.services4 .services4_list .services4_item .img:hover {
    transform: scale(1.1);
}
section.services4 .item_description4 {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    padding-left: 30px;
    padding-right:30px ;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services4 .services4_list .services4_item h4{
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services4 .services4_item ul li{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 10px;
}
section.services4 .services4_item ul {
    column-count: 4;
    margin-bottom: 35px;
}
a.idTop {
    position: fixed; /* */
    z-index: 9999;
    bottom: 0%;
    right: 0%;
    background: #72786e;
    opacity: .6;
    color: #ffffff;
    padding: 5px;
    margin: 5px 10px 10px 5px;
}
a.idTop:hover {
    opacity: 1;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.wrapper5 {
    max-width: 1140px;
    width: calc(100%-40px) ;
    margin: 0 auto;
}
.top_line5 {
    display: flex;
    align-items: center;
    min-height: 160px;
}
header.header_logo5 {
    background:#f1a8a8;
}
.header_nav5 {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}
.header_nav5 a {
    text-decoration: none;
    color: inherit;
}
.header_nav5 ul {
    display: flex;

}
.header_nav5 ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
    
}
.header_nav5 ul li:hover {
    background: rgba( 85, 26, 139) ;
    border-radius: 6px;
    transition: background 300ms ease-in-out;
}
section.services5 {
    background: #000000;
    padding: 50px 0;
    text-align: center;
}
section.services5 h1 {
    font-size: 30px;
    line-height: 1;
    color: #ce4646;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
section.services5 .description5 {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.services5 .services5_list .services5_item h2 {
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services5 .services5_list .services5_item h3 {
    font-size: 20px;
    line-height: 1;
    color: #4e1b63;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services5 .item_description5 {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    padding-left: 30px;
    padding-right:30px ;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 35px;
}
section.services5 .services5_item ul li{
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 10px;
}
section.services5 .services5_item ul {
    column-count: 4;
    margin-bottom: 35px;
}
a.idTop {
    position: fixed; /* */
    z-index: 9999;
    bottom: 0%;
    right: 0%;
    background: #72786e;
    opacity: .6;
    color: #ffffff;
    padding: 5px;
    margin: 5px 10px 10px 5px;
}
a.idTop:hover {
    opacity: 1;
}